<!-- prettier-ignore -->
{% extends "layouts/main.html" %}
{% block body %}
{% include 'components/header.html' %}
{% include 'components/messages.html' %}
{% load crispy_forms_tags %}

<div class="flex justify-center mt-10 mb-20 w-full">
  <div class="flex flex-col w-full max-w-screen-lg">
    <div class="flex flex-col justify-between">
      {% if request.user.rol == 1 %}
      <div class="flex justify-end items-center mb-4">
        <a href="/jobs/create">
          <button
            type="submit"
            class="rounded-lg bg-gradient-to-tr from-indigo-700 to-purple-600 w-32 h-12 text-white"
          >
            İlan Oluştur
          </button>
        </a>
      </div>
      {% endif %}
      <div
        class="flex w-full border-2 rounded-lg bg-gradient-to-tr from-slate-400 to-slate-200"
      >
        <div class="flex flex-row w-full px-2 py-1 items-center">
          <form method="GET" class="flex flex-row w-full justify-between items-center">
            {% csrf_token %}
            <div class="flex flex-row w-4/5 justify-between items-center text-[12px]">
              {{ jobs.form|crispy }}
            </div>
            <div>
              <button
                class="rounded-lg border border-slate-900 bg-white px-5 py-1 text-black"
              >
                Ara
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="ilan" class="flex flex-col max-h-96 overflow-auto mt-4 drop-shadow">
      {% for job in jobs.qs %} {% include 'components/jobs.html' %} {% endfor %}
    </div>
  </div>
</div>
{% endblock body %}
