<!-- prettier-ignore -->
{% extends "layouts/main.html" %}
{% block body %}
{% include 'components/header.html' %}
{% include 'components/messages.html' %}
<div class="flex flex-col justify-center items-center">
  <div class="flex flex-col w-1/4 mt-20">
    <div class="font-sans text-xl mt-16 mb-10">Şifre Değiştir</div>
    <form method="POST" class="mb-5">
      {% csrf_token %}

      <div class="flex flex-col space-y-4">
        <div class="flex justify-between items-center">
          <label>Güncel şifre</label>
          <input
            id="id_old_password"
            class="form-elements w-60"
            type="password"
            name="old_password"
          />
        </div>
        <div class="flex justify-between items-center">
          <label>Yeni şifre</label>
          <input
            id="id_new_password1"
            class="form-elements w-60"
            type="password"
            name="new_password1"
          />
        </div>
        <div class="flex justify-between items-center">
          <label>Yeni şifre tekrar</label>
          <input
            id="id_new_password2"
            class="form-elements w-60"
            type="password"
            name="new_password2"
          />
        </div>
        <button
          id="reset"
          type="submit"
          class="rounded-lg bg-gradient-to-tr from-slate-800 to-slate-600 text-white h-10 px-4 py-2"
        >
          Şifre Yenile
        </button>
      </div>
    </form>
    <a href="{% url 'user:password-reset' %}" class="hover:text-blue-600">
      Şifremi unuttum
    </a>
  </div>
</div>

{% endblock body %}
