<!-- prettier-ignore -->
{% extends 'layouts/main.html' %}
{% block body %}
{% include 'components/header.html' %}
{% include 'components/messages.html' %}
<div class="flex flex-col justify-center items-center">
  <div class="max-w-screen-lg space-y-6 mt-10">
    <h2 class="font-weight-bold mt-3">Şifre sıfırlandı.</h2>
    <hr />
    <p>Şifreniz sıfırlandı. Yeni şifrenizle giriş yapabilirsiniz.</p>
  </div>
  <a
    href="/user/login/"
    class="rounded-lg bg-gradient-to-tr from-slate-800 to-slate-600 px-6 py-2 text-white mt-5"
  >
    Giriş Yap
  </a>
</div>

{% endblock %}
