<!-- prettier-ignore -->
{% extends "layouts/main.html" %}
{% block body %}
{% include 'components/header.html' %}
{% include 'components/messages.html' %}

<div class="flex flex-col justify-center items-center">
  <div class="max-w-screen-lg space-y-6 mt-20">
    <h2 class="font-semibold text-lg">Mail gönderildi</h2>
    <hr />
    <p>
      Şifre sıfırlama bağlantısını mailinize gönderdik.
      <br />
      Mail almadıysanız kayıtlı mailinizi girdiğinizden emin olun veya spam klasörüne
      bakmayı unutmayın.
    </p>
  </div>
</div>

{% endblock %}
