<!-- prettier-ignore -->
{% extends "layouts/main.html" %}
{% block body %}
{% include 'components/header.html' %}
{% include 'components/messages.html' %}
{% load crispy_forms_tags %}
<div class="flex flex-col justify-center items-center">
  <div class="max-w-screen-lg space-y-6">
    <h2 class="mt-6 font-sans font-semibold text-lg">Şifre Sıfırla</h2>
    <hr />
    <p>Şifreni unuttuysan mail adresini gir ve gelen mail ile şifreni sıfırla.</p>
    <form method="POST">
      {% csrf_token %}
      <div>{{ password_reset_form|crispy }}</div>
      <button
        class="mt-10 rounded-lg bg-gradient-to-tr from-slate-800 to-slate-600 px-6 py-2 text-white"
        type="submit"
      >
        Gönder
      </button>
    </form>
  </div>
</div>

{% endblock %}
